<div class="user-description">
  <h1>Education</h1>
    <ul>
      <li>2018/9-Now: Major in Computer Application Technology, Computer School, BUPT, Master</li>
      <li>2014/9-2018/7: Graduate from Internet of Things Engineering, International School, BUPT, Bachelor. <strong>Top 10%.</strong></li>
    </ul>
</div>

<div class="user-description">
  <h1>Awards and Honors</h1>
  <ul>
    <li>2nd Place Award in Track5: Image-based Multi-Person Virtual Try-on Challenge</li>
    <li>Best graduate project of BUPT and QMUL, 'An IoT system for smart building monitoring'</li>
    <li>First class Honour of QMUL</li>
    <li>2018 QM Prize</li>
    <li>Continuous three years' Scholarship at 2014-2017 during the undergraduate study</li>
    <li>Continuous two years' Scholarship at 2018-2020 during the postgraduate study</li>
    <li>MCM/ICM Meritorious Winner in 2016</li>
    <li>Merit student in 2014-2015 academic year</li>
  </ul>
</div>

<div class="user-description">
  <h1>Publications</h1>
  <p>Bao Q, Liu W, Cheng Y, et al. Pose-Guided Tracking-by-Detection: Robust Multi-Person Pose Tracking[J]. IEEE Transactions on Multimedia, 2020.</p>
  <p>Weijian Ruan, Wu Liu, Qian Bao, Jun Chen, Yuhao Cheng, Tao Mei. POINet: Pose-Guided Ovonic Insight Network for Multi-Person Pose Tracking. ACM Multimedia 2019: 284-292</p>
</div>
<div class="user-description">
  <h1>Teaching</h1>
  <p>Assistant teaching in Internet of Things Engineering Practices, 2018</p>
</div>

<div class="user-description">
  <h1>Project</h1>
  <div>
  <h2>PoseTrack</h2>
    <ul>
      <li>Intro:An open source project is to implement a SOTA method of pose tracking task.</li>
      <li>Link:<a href="https://github.com/JDAI-CV/PGPT">PGPT</a></li>
    </ul>
  </div>
  <div>
    <h2>PyAnomaly</h2>
    <ul>
      <li>Intro: An open source toolbox of anomaly detection</li>
      <li>Link: <a href="https://github.com/YuhaoCheng/PyAnomaly">PyAnomaly</a></li>
    </ul> 
  </div>
</div>

<div class="user-description">
  <h1>Intern Experience</h1>
  <div>
    <h2>Jul. - Sep. 2017 Lenovo Service and Product Technology Center of China region</h2>
    <ul>
      <li>Built a classifer of conversation between the customers and engineers</li>
      <li>Used the LSTM in Tensorflow to analyize the text sequences</li>
    </ul>
  </div>
  <div>
    <h2>Apr. - Jun. 2018 DeepAIT</h2>
    <ul>
      <li>Worked on building the Human Poes Estimation on mobil phones</li>
      <li>Used OpenPose in the project which estimating the human pose in videos</li> 
    </ul> 
  </div>
  <div>
    <h2>Jul. 2017 - Now JD AI Research</h2>
  </div>
</div>

<div class="user-description">
  <h1>School Activities</h1>
  <div>
    <h2>Feb. 2017 Winter Trip to UK</h2>
    <ul>
      <li>Be selected form the students who are in the top 10% of International school</li>
      <li>Go to London and studied in Queen Mary University of London</li>
    </ul>
  </div>
  <div>
    <h2>Undergraduate Training Program for Innovation and Entrepreneurship</h2>
    <ul>
      <li>Organized a team to participate the program in 2015-2016 academic year</li>
      <li>Designed and made a website to help students find partners in campus</li>
    </ul>
  </div>
</div>

