<div class="user-details">
  <h1>Education</h1>
  <!-- <p>{{ site.user_description }}</p> -->
  <div>
  <p>
    <ul>
      <li>2018/9 - Now: Major in Computer Application Technology, Computer School, BUPT, Master</li>
      <li>2014/9 - 2018/7: Graduate from Internet of Things Engineering, International School, BUPT, Bachelor</li>
    </ul>
  </p>
  </div>
  <h>
</div>
<div class="user-details">
  <h1>Publications</h1>
  <p>Bao Q, Liu W, Cheng Y, et al. Pose-Guided Tracking-by-Detection: Robust Multi-Person Pose Tracking[J]. IEEE Transactions on Multimedia, 2020.</p>
  <p>Weijian Ruan, Wu Liu, Qian Bao, Jun Chen, Yuhao Cheng, Tao Mei. POINet: Pose-Guided Ovonic Insight Network for Multi-Person Pose Tracking. ACM Multimedia 2019: 284-292</p>
</div>
<div class="user-details">
  <h1>Teaching</h1>
  <p>Assistant teaching in Internet of Things Engineering Practices</p>
</div>
<div class="user-details">
  <h1>Project</h1>
  <p>https://github.com/YuhaoCheng/PyAnomaly</p>
  <p>https://github.com/JDAI-CV/PGPT</p>
</div>
<div class="user-details">
  <h1>Awards and Honors</h1>
  <p>MCM/ICM Meritorious Winner in 2016</p>
  <p>QM Prize</p>
  <p>First class </p>
</div>