<div class="user-description">
  <h1>Education</h1>
    <ul>
      <li>2018/9 - Now: Major in Computer Application Technology, Computer School, BUPT, Master</li>
      <li>2014/9 - 2018/7: Graduate from Internet of Things Engineering, International School, BUPT, Bachelor</li>
    </ul>
</div>
<div class="user-description">
  <h1>Publications</h1>
  <p>Bao Q, Liu W, Cheng Y, et al. Pose-Guided Tracking-by-Detection: Robust Multi-Person Pose Tracking[J]. IEEE Transactions on Multimedia, 2020.</p>
  <p>Weijian Ruan, Wu Liu, Qian Bao, Jun Chen, Yuhao Cheng, Tao Mei. POINet: Pose-Guided Ovonic Insight Network for Multi-Person Pose Tracking. ACM Multimedia 2019: 284-292</p>
</div>
<div class="user-description">
  <h1>Teaching</h1>
  <p>Assistant teaching in Internet of Things Engineering Practices</p>
</div>
<div class="user-description">
  <h1>Project</h1>
  <p>https://github.com/YuhaoCheng/PyAnomaly</p>
  <p>https://github.com/JDAI-CV/PGPT</p>
</div>
<div class="user-description">
  <h1>Activities</h1>
  <div>
    <h2>Internship in JD AI Research</h2>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div>
    <h2>Internship in Lenovo</h2>
    <ul>
      <li>Worked in the Lenovo(Beijing) Service and Product Technology Center of China region as an intern, 2017</li>
      <li></li>
    </ul>
  </div>
  <div>
    <h2>Winter Trip to UK</h2>
    <ul>
      <li>Be selected form the students who are in the top 10% of International school</li>
      <li>Go to London and studied in Queen Mary University of London in February 2017</li>
    </ul>
  </div>
  <div>
    <h2>Undergraduate Training Program for Innovation and Entrepreneurship</h2>
    <ul>
      <li>Organized a team to participate the program in 2015-2016 academic year</li>
      <li>Designed and made a website to help students find partners in campus</li>
    </ul>
  </div>
</div>
<div class="user-description">
  <h1>Awards and Honors</h1>
  <ul>
  <li>MCM/ICM Meritorious Winner in 2016</li>
  <li>QM Prize</li>
  <li>Best graduate project of BUPT and QMUL, 'An IoT system for smart building monitoring'</li>
  <li>First class Honour of QMUL</li>
  <li>2nd Place Award in Track5: Image-based Multi-Person Virtual Try-on Challenge</li>
  <li>Continuous three years' Scholarship at 2014-2017</li>
  <li>Merit student in 2014-2015 academic year</li>
  </ul>
</div>