<div class="user-description">
    <h1>Awards and Honors</h1>
    <div>
        <p>2021, BUPT Best Master-Degree Graduation Paper Award</p>
        <p>2021, Outstanding post-graduate student, Beijing</p>
        <p>2021, Outstanding post-graduate student, BUPT</p>
        <p>2020, <strong>China National Scholarship</strong></p>
        <p>2020, The Master First-class scholarship<br/></p>
        <p>2019, The Master First-class scholarship<br/></p>
        <p>2019, CVPR Image-based Multi-pose Virtual Try-on Challenge <strong>2-nd place reward</strong><br/></p>
        <p>2018, The Master First-class scholarship<br/></p>
        <p>2018, The <strong>First Class Degree Honor</strong> of QMUL<br/></p>
        <p>2018, BUPT and QMUL <strong>Outstanding Project Prize</strong> for bachelor's project, “<i>An IoT system for smart building monitoring</i>”<br/></p>
        <p>2018, The 2018 QMUL <strong>Undergraduate College Prize</strong><br/></p>
        <p>2017, The Bachelor Second-class scholarship<br/></p>
        <p>2016, MCM/ICM <strong>Meritorious Winner</strong><br/></p>
        <p>2016, The Bachelor Thrird-class scholarship<br/></p>
        <p>2015, The Bachelor Thrird-class scholarship <br/></p>
        <p>2015, The Merit student of BUPT in 2014-2015 academic year<br/></p>
    </div>
  </div>