<div class="user-description">
    <h1>Selected Awards & Honors</h1>
    <div>
        <p>2021, <strong>Distinguished Master-Degree Dissertation Award, Beijing Univ. of Posts and Telecommunications</strong></p>
        <p>2021, <strong>Outstanding Graduate Award (1%)</strong>, Beijing City</p>
        <p>2021, Outstanding Graduate Award, Beijing Univ. of Posts and Telecommunications</p>
        <p>2020, <strong>National Scholarship (1%), Ministry of Education, China</strong></p>
        <p>2018, <strong>Distinguished Bachelor-Degree Dissertation Award, Beijing Univ. of Posts and Telecommunications</strong><br/></p>
        <p>2018, <strong>Distinguished Bachelor-Degree Dissertation Award, Queen Mary Univ. of London</strong><br/></p>
        <p>2018, Undergraduate Collage Prize, Queen Mary Univ. of London<br/></p>
        <p>2016, MCM/ICM <strong>Meritorious Winner</strong><br/></p>
    </div>
</div>