<div class="user-description">
    <h1>Awards and Honors</h1>
    <div>
        <p><strong>2020 China National Scholarship</strong></p>
        <p>The MCM/ICM <strong>Meritorious Winner</strong> in 2016<br/></p>
        <p>2019 CVPR Image-based Multi-pose Virtual Try-on Challenge <strong>2-nd place reward</strong><br/></p>
        <p>Final year project of bachelor, “<i>An IoT system for smart building monitoring</i>”, gets the BUPT
            and QMUL <strong>Outstanding Project Prize</strong><br/></p>
        <p>The 2018 QMUL <strong>Undergraduate College Prize</strong><br/></p>
        <p>The Degree with <strong>First Class</strong> Honors of QMUL<br/></p>
        <p>The First-class scholarship in continue Two years in Master period(2018-2019)<br/></p>
        <p>The Second-class scholarship in Bachelor period(2017)<br/></p>
        <p>The Thrird-class scholarship in continue Two years in Bachelor period(2014-2016)<br/></p>
        <p>The Merit student in 2014-2015 academic year<br/></p>
    </div>
  </div>