<div class="user-description">
    <h1>Education</h1>
    <div class='container'>
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <p>Beijing University of Posts and Telecommunications</p>
            </div>
            <div class="col-lg-6 col-md-4">
                <p>2018/09-2021/07</p>
            </div>
        </div>
        <div class="row">
            <p>2</p>
        </div>
    </div>
      <ul>
        <li>2018/9 - Now: Major in Computer Application Technology, Computer School, BUPT, Master</li>
        <li>2014/9-2018/7: Graduate from Internet of Things Engineering, International School, BUPT, Bachelor. <strong>Top 10%.</strong></li>
      </ul>
  </div>