<!-- <div class="user-description">
    <h1>Projects</h1>
    <div>
    <h3>PyAnomaly</h3>
        <div>
            <p>HomePage:<a href="https://github.com/YuhaoCheng/PyAnomaly">PyAnomaly</a></p>
            <p>PyAnomaly is used for the task of detecting the anomaly events in videos.
            That task aims to locate and distinguish the abnormal events in test data, only training with normal data (and a few abnormal data). This task has a 
            wide application in Smart City, Automatic Drive, and Video Understanding, however, we don’t have an open-source project containing the SOTA methods. 
            <strong>PyAnomaly is the first one.</strong> Meanwhile, PyAnomaly can be easily extended by researchers and engineers because it bases the characteristics of anomaly detection 
            to standardize the project’s structure, build the abstract classes, define the pipeline of processing data, and has the detailed documents. <strong>I contribute all of 
            the codes of this project.</strong></p>
        </div>
    </div>
    <div>
      <h3>PoseTrack</h3>
        <div>
            <p>HomePage: <a href="https://github.com/JDAI-CV/PGPT">PGPT</a></p>
            <p>PGPT is an open-source project of Pose-Guided Tracking-by-Detection:
            Robust Multi-Person Pose Tracking. PGPT wishes to solve the problem of tracking the human pose in videos, which faces many challenges. These include how to 
            track the human in a long time accurately, and how to match the TrackingID with the human pose accurately. PGPT solves these challenges to some extent, and 
            our result of PoseTrack competition keeps the <strong>1st place</strong> on the Leader Board in 2018-2019. The code is contributed by the other student in the lab and me.</li>
        </div> 
    </div>
  </div> -->
