<div class="user-description">
    <h1>Publications</h1>
    <h2>Articles</h2>
    <p><strong>Yuhao Cheng</strong>, Wu Liu, Pengrui Duan, Jingen Liu, Tao Mei. PyAnomaly: A Pytorch-based Tool for Anomaly Detection. ACM Multimedia, 2020</p>
    <p>Bao Q, Liu W, <strong>Cheng Y</strong>, et al. Pose-Guided Tracking-by-Detection: Robust Multi-Person Pose Tracking. IEEE Transactions on Multimedia, 2020</p>
    <p>Weijian Ruan, Wu Liu, Qian Bao, Jun Chen, <strong>Yuhao Cheng</strong>, Tao Mei. POINet: Pose-Guided Ovonic Insight Network for Multi-Person Pose Tracking. ACM Multimedia, 2019</p>
    <h2>Patents</h2>
    <p>Wu Liu, Tao Mei, Yuhao Cheng. The method and device for generating gait recognition model. Pub. No. CN111259700A</p>
</div>
