<div class="user-description">
    <h1>Publications</h1>
    <h2>Articles</h2>
    <div>
    <p><strong>Cheng Y</strong>, Zhang S, Yan Y, et al. LSCD: A Large-Scale Screen Content Dataset for Video Compression[J]. arXiv preprint arXiv:2308.09332, 2023.</p>
    <p>Yuan R, <strong>Cheng Y</strong>, Yan Y, et al. Real-Time Segmenting Human Portrait at Anywhere[C]//Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition. 2023: 2196-2202. <strong>(Corresponding Author)</strong></p>
    <p><strong>Yuhao Cheng</strong>, Yiqiang Yan, Zhepeng Wang. Thinking of How to Use the Gaze Estimation in the Wild. International Conference on the
    Frontiers of Robotics and Software Engineering (FRSE 2023)</p>
    <p>Ruifeng Yuan, <strong>Yuhao Cheng</strong>, Yiqiang Yan, Zhepeng Wang. Make Your Conference Secure: A Robust Method to Replace Private Backgrounds. International Conference on the Frontiers of Robotics and Software Engineering (FRSE 2023)</p>
    <p><strong>Yuhao Cheng</strong>, Wu Liu, Pengrui Duan, Jingen Liu, Tao Mei. PyAnomaly: A Pytorch-based Tool for Anomaly Detection. ACM Multimedia, 2020</p>
    <p>Bao Q, Liu W, <strong>Cheng Y</strong>, et al. Pose-Guided Tracking-by-Detection: Robust Multi-Person Pose Tracking. IEEE Transactions on Multimedia, 2020</p>
    <p>Weijian Ruan, Wu Liu, Qian Bao, Jun Chen, <strong>Yuhao Cheng</strong>, Tao Mei. POINet: Pose-Guided Ovonic Insight Network for Multi-Person Pose Tracking. ACM Multimedia, 2019</p>
    </div>
    <!--     <h2>Patents</h2>
    <p>Wu Liu, Tao Mei, <strong>Yuhao Cheng</strong>. The method and device for generating gait recognition model. Pub. No. CN111259700A</p> -->
    <h2> Slides </h2>
    <p><a href="{{ '/attachment/large_model_summary.pdf' }}">A Brief Large Model Summary</a></p>
</div>
