<div class="user-description">
    <h1>Short Bio</h1>
        <div>
            <p>
                I'm currently a Master's degree student at Beijing University of Posts and Telecommunications, School of Computer Science.  
                During the postgraduate, I work in the <a href="https://air.jd.com">AI Research of JD.com</a> under the direction of <a href="https://drliuwu.com/">Wu Liu</a>.
                My current research interests are in Artificial Intelligence, Computer Vision, specifically related to the video anomaly detection, video understanding, and so on.<br/>
            </p>
            <p><strong>I'm finding the Ph.D. related to the Artificial Intelligence, Computer Vision or Multimedia</strong></p>
            <p><a href="{{ '/assets/homepage_cv_eng.pdf' }}">Resume</a></p>
            <p><a href="/tech_blog">Blog</a></p>
        </div>
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-6"> -->
                <!-- </div>
                <div class="col-md-6">
                </div>
            </div>  
        </div> -->
</div>