<div class="user-description">
    <h1>Short Bio</h1>
        <div>
            <p>
                I'm currently a Researcher at Lenovo Research, before that I got the Master's and Bachelor's degree at Beijing University of Posts and Telecommunications and got the Bachelor's degree 
                at Queen Mary University of London.
                My research interests are in Artificial Intelligence, Computer Vision, and Computer Graphics.<br/>
            </p>
<!--             <p><a href="{{ '/assets/homepage_cv_eng.pdf' }}">Resume</a></p> -->
<!--             <p><a href="/tech_blog">Blog</a></p> -->
        </div>
</div>
