<div class="user-description">
    <h1>Short Bio</h1>
        <div>
            <p>
                I'm a Master degree student of Beijing University of Posts and Telecommunications. 
                I'm an intern in <a href="https://air.jd.com">AI Reseache of JD.com</a> at present.
                And I'm interested in the Artifical Intelligence, Computer Vision and Internet of things stuff. 
                And currently I'm finding the PhD related to the Artificial Intelligence, Computer Vison or Multimedia
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                     <p><a href="{{ '/assets/homepage_cv_eng.pdf' }}">Resume</a></p>
                </div>
                <div class="col-md-6">
                    <p><a href="/tech_blog">Blog</a></p>
                </div>
            </div>  
        </div>
</div>