<div class="user-description">
    <h1>Teaching</h1>
    <p>2018, Teaching Assistant for the Internet of Things of Engineering Practice</p>
    <p>2017, Teaching Assistant for the Microprocessors System Design</p>
    <p>2017, Lecturer of the Microprocessors System Design Tutorial </p>
    <p>2018, Lecturer of the Security & Authentication Tutorial </p>
    <p>2016, Lecturer of the Control Theory Tutorial</p>
    <p>2016, Lecturer of the Digital Circuit Design Tutorial</p>
    <p>2015, Lecturer of the Signals And Systems Tutorial</p>
    <p>2014, Lecturer of the Advanced Mathematics Tutorial</p>
</div>